### Soru 1

In [33]:
import csv
import pandas as pnd
import numpy as nmp
from urllib.request import urlopen
pnd.set_option('display.max_rows', 20)

data = pnd.read_csv('https://raw.githubusercontent.com/unforgiventr/Facebook-DataLeak-TextMining/master/avocado.csv')
data.drop(data.columns[[1, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1, inplace=True)
data

       Unnamed: 0  AveragePrice  Total Volume     4046       4225
0               0          1.33      64236.62  1036.74   54454.85
1               1          1.35      54876.98   674.28   44638.81
2               2          0.93     118220.22   794.70  109149.67
3               3          1.08      78992.15  1132.00   71976.41
4               4          1.28      51039.60   941.48   43838.39
5               5          1.26      55979.78  1184.27   48067.99
6               6          0.99      83453.76  1368.92   73672.72
7               7          0.98     109428.33   703.75  101815.36
8               8          1.02      99811.42  1022.15   87315.57
9               9          1.07      74338.76   842.40   64757.44
...           ...           ...           ...      ...        ...
18239           2          1.56      22128.42  2162.67    3194.25
18240           3          1.54      17393.30  1832.24    1905.57
18241           4          1.57      18421.24  1974.26    2482.65
18242           5          1.56      17597.12  1892.05    1928.36
18243           6          1.57      15986.17  1924.28    1368.32
18244           7          1.63      17074.83  2046.96    1529.20
18245           8          1.71      13888.04  1191.70    3431.50
18246           9          1.87      13766.76  1191.92    2452.79
18247          10          1.93      16205.22  1527.63    2981.04
18248          11          1.62      17489.58  2894.77    2356.13

[18249 rows x 5 columns]

### Soru 2

In [74]:
import csv
import pandas as pnd
import numpy as nmp
from urllib.request import urlopen
pnd.set_option('display.max_rows', 20)

data = pnd.read_csv('https://raw.githubusercontent.com/unforgiventr/Facebook-DataLeak-TextMining/master/avocado.csv')
data.drop(data.columns[[1, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1, inplace=True)

a=input('Unnamed:0 için veri girin:')
b=input('AveragePrice için veri girin:')
c=input('Total Volume için veri girin:')
d=input('4046 için veri girin:')
e=input('4225 için veri girin:')
data.loc['18249']=a ,b ,c ,d ,e 
data

Unnamed:0 için veri girin:52
AveragePrice için veri girin:12.2
Total Volume için veri girin:54
4046 için veri girin:62
4225 için veri girin:23

      Unnamed: 0 AveragePrice Total Volume     4046     4225
0              0         1.33      64236.6  1036.74  54454.8
1              1         1.35        54877   674.28  44638.8
2              2         0.93       118220    794.7   109150
3              3         1.08      78992.1     1132  71976.4
4              4         1.28      51039.6   941.48  43838.4
5              5         1.26      55979.8  1184.27    48068
6              6         0.99      83453.8  1368.92  73672.7
7              7         0.98       109428   703.75   101815
8              8         1.02      99811.4  1022.15  87315.6
9              9         1.07      74338.8    842.4  64757.4
...          ...          ...          ...      ...      ...
18240          3         1.54      17393.3  1832.24  1905.57
18241          4         1.57      18421.2  1974.26  2482.65
18242          5         1.56      17597.1  1892.05  1928.36
18243          6         1.57      15986.2  1924.28  1368.32
18244          7         1.63      17074.8  2046.96   1529.2
18245          8         1.71        13888   1191.7   3431.5
18246          9         1.87      13766.8  1191.92  2452.79
18247         10         1.93      16205.2  1527.63  2981.04
18248         11         1.62      17489.6  2894.77  2356.13
18249         52         12.2           54       62       23

[18250 rows x 5 columns]

### Soru 3
Eğer sorudaki tek olasılık $N = 100$ ve $x=3$ olsaydı, sonuca varma hızından dolayı Ahmet'in 'Brute Force' tarzı yöntemi daha verimli diyebilirdik.

Ancak soruda kafadan tutma bir sayı ve $1$ ile $N$ arasında değişken  bir örnek havuzu olduğundan dolayı Mehmet'in tekniği daha doğru bir yaklaşımdır. $x$, $N$'in içinde herhangi bir yerde olabilir ve $N$ oldukça bir yüksek sayı olabileceğinden teker teker sorarak sayıyı hızlıca tuturmak şansa bağlıdır.

### Soru 4
Buradaki yaklaşımın başarısız sonuçlanması örnek havuzunun sadece 

 - Araba sahibi
    ve
 - Rehbere kayıtlı olan

 kişilerin verdiği bilgilere dayanarak yapılmış bir anket olmasından kaynaklı olabilir. ABD'nin 1940'lara kadar Büyük Buhran'da olması ve araba sahibi olan kişilerin ekonomik krizden daha az etkilenmiş olabilme potansiyelleri de verdikleri cevabı etkilemiş olabilir. ABD'nin değişik demografik yapısına uymak için birden fazla çevreden kişilere anket yapılması durumu daha farklı kılabilirdi.

### Soru 5
$f$ fonksiyonu Öklid Algoritması aracılığıyla $c$ değerini getirir.

$a$'yı 9, $b$'yi 22 olarak alırsak,
Dikdörtgene sığan 2 tane büyük $9 \times 9$'lik kare ve 2 tane küçük $4 \times 4$'lük kare ortaya çıkar ve arta kalan dikdörtgenimizin içine de 4 adet $1 \times 1$'lik kare girer. $f(a,b)=c=1$ olur.
Aynı zamanda 9 ve 22'nin EBOB'u 1'dir kanısına da varabiliriz.

$a=9$ ve $b=22$ için $f$'in yaptığı işlem basamaklarını
$$22=9(2)+4$$
$$9=4(2)+1$$
$$4=4(1)+0$$
olarak da gösterebiliriz.

### Soru 6
<img src="VeyaTabloARDAERBAYAV.png" width="581" height="222" align="center"/>

$\lor$ operatörünün gereksinimlerini karşılamak için $x_1$ ve/veya $x_2$'nin 1 olduğu durumlarda işlemin Q'dan büyük eşit olması gerekiyordu. Sinir ağındaki 2 elemanın da eşit ağırlıkta olması için $w_1=w_2=0.4$ olarak ayarlandı ve Q Aktivasyon Fonksiyonu da $w_1=w_2=Q=0.4$ olarak ayarlandı.

### Soru 7
Bence S-eğrisinin önemli olmasının altındaki sebep doğrusal olmayışıdır ve bir nevi hayatın lineer olmayan değişken yapısını bile temsil edebilmesindendir. Bir ülkeye kuşbakışı bakarsanız yağmurun her yerde aynı anda ve aynı miktarda yağmadığını, bazı bölgelerde şiddetinin azalıp arttığını görebilirsiniz. Aynı zamanda analog ses dalgalarının ve Ethernet kabloları gibi data transferi yapan sistemlerin de S-eğrisine benzer şeklinde ilerlemesi de eğrinin gözlemlenebilir alanlarının olduğunu gösterir.

### Soru 8
Bence basamak yada üstel fonksiyonlarda tek yönlü ve ani gidişatlarından dolayı belirsiz değillerdir. Fakat belirsizliğin bazı durumlarda gerekli ya da olumlu olabileceğinden dolayı S-eğrisinin bu noktada avantajı olabilir. Biyolojik fonksiyonlar gibi kendi içlerinde belirsizlik ve olasılık taşıyan alanlar da S-eğrisini kullanılıyor olabilir.